*{
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    font-family: "Source Code Pro", monospace;
    background-color: #45648C;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    justify-items: center;
    height: 100%;
    color: #e2e2e2;
}

.box {
    background:#00263d;
    padding: 3rem;
    box-shadow: 2px 2px 46px rgba(78, 9, 189, 0.4);
    border-radius: 70px;
    text-align: center;
    margin-top: 3rem;
    float: center;
}

.fotoperfil-pic {
    border-radius:10%;
    margin: 0 auto 2rem auto;

}

.perfil span{
    font-size: 30px;
}

.perfil p{
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.redes-sociais{
    display: flex;
    justify-content: center;
}
